body{
    height:100vh;
    width:100%;
    background: url(./background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin:0px;
    padding:0px
}
#black{
    height:100vh;
    width:100%;
    border:0px;
    background-color: black;
    filter: opacity(50%);
}
#box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height:400px;
    width:30%;
    background-color: #222;
    filter: opacity(80%);
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#pl{
    color:#fff;
    font-size: 40px;
}
#nome,#email{
    background-color: #222;
    border:0px;
    border-bottom: 1px solid #fff;
    height:50px;
    width:80%;
    transition:transform 0.5s;
    transform: translateY(-5px);
    font-size: 20px;
    color:#fff
}
#nome:focus,#email:focus{
    border:0px;
    outline: 0px;
    border-bottom: 1px solid #fff;
    transform: translateY(5px);
}
#login{
    margin-top:20px;
    width:80%;
    height:60px;
    border:0px;
    border-radius: 20px;
    background-color: #f00;
    filter: opacity(200%);
    animation: btn 3s ease-in-out infinite;
    font-size: 20px;
}
@keyframes btn {
    0%{
        transform: translateY(-10px);
        box-shadow: 20px 0px 20px #aaa;
    }
    50%{
        transform: translateY(10px);
        box-shadow: 5px 10px 20px #aaa;
    }
    100%{
        transform: translateY(-10px);
        box-shadow: 20px 0px 20px #aaa;
    }
}
#not{
    color:#fff
}
a{
    color:#800
}

@media screen and (max-width:500px){
    #box{
        width:80%;
    }
}